.bg-main {
    /* background-color: #44417b;
    #333682
} */
/* background-color: gray; */
background: linear-gradient(to right, #585877,#191f43);
}
.bg-login {
    background-color: rgb(182, 221, 238);  
}
/* .logo{
    width: 240px;
    height: 80px;
    margin: auto;
} */
.item-center{
    align-items: center;
}